---
layout: default
title: My Blog
---

<h2>오늘 포스트</h2>
<ul>
  {% assign today = "now" | date: "%Y%m%d" %}
  {% assign today_count = 0 %}
  {% for post in site.posts %}
    {% assign post_date = post.date | date: "%Y%m%d" %}
    {% if post_date == today %}
      {% assign today_count = today_count | plus: 1 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span>{{ post.date | date: "%H:%M" }}</span>
      </li>
    {% endif %}
  {% endfor %}
  {% if today_count == 0 %}
    <li>오늘 포스트가 없습니다.</li>
  {% endif %}
</ul>

<h2>이전 포스트</h2>
<ul>
  {% assign today = "now" | date: "%Y%m%d" %}
  {% for post in site.posts %}
    {% assign post_date = post.date | date: "%Y%m%d" %}
    {% if post_date != today %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span>{{ post.date | date: "%Y-%m-%d %H:%M" }}</span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
