---
layout: default
title: My Blog
---

<h2>최근 포스트 10개</h2>
<ul>
  {% assign recent_posts = site.posts | slice: 0, 10 %}
  {% for post in recent_posts %}
    <li>
      <a href="{{ site.baseurl  }}">{{ post.title }}</a>
      <span>{{ post.date | date: "%Y-%m-%d %H:%M" }}</span>
    </li>
  {% endfor %}
</ul>

<h2>이전 포스트</h2>
<ul>
  {% assign other_posts = site.posts | slice: 10, site.posts.size %}
  {% for post in other_posts %}
    <li>
      <a href="{{ site.baseurl  }}">{{ post.title }}</a>
      <span>{{ post.date | date: "%Y-%m-%d %H:%M" }}</span>
    </li>
  {% endfor %}
</ul>
